Repository mazipan/ksana.in: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": ["prettier --ignore-path .gitignore --write"],
  "*.{js,ts,tsx}": [
    "prettier --ignore-path .gitignore --write",
    "eslint --ignore-path .gitignore --quiet --fix"
  ]
}

chore: add default isLoading
  src/components/Dashboard/UrlList/Items.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update README.md
  README.md
Due: prettier --ignore-path .gitignore --write

feat: priotitize 3rd party login
  .env.local.example
  src/components/AuthForm.tsx
  src/components/Footer.tsx
  src/components/HiUser.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/LayoutAuth.tsx
  src/constants/common.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: hardcoded value users counter
  src/pages/api/counter.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: duplicate link
  src/components/Footer.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: update deps
  next.config.js
  package.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Create snyk.yml
  .github/workflows/snyk.yml
Due: none

Update snyk.yml
  .github/workflows/snyk.yml
Due: none

feat: update lockfile
  yarn.lock
Due: none

Create snyk-infrastructure-analysis.yml
  .github/workflows/snyk-infrastructure-analysis.yml
Due: none

Delete snyk.yml
  .github/workflows/snyk.yml
Due: none

Update snyk-infrastructure-analysis.yml
  .github/workflows/snyk-infrastructure-analysis.yml
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Delete snyk-infrastructure-analysis.yml
  .github/workflows/snyk-infrastructure-analysis.yml
Due: none

feat: add function to check user is on table or not
  src/pages/api/auth/login.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: use SupabaseClient types
  src/libs/supabase.ts
  src/pages/api/auth/is-authenticated.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add users count
  src/components/CounterUsers/Counter.tsx
  src/components/CounterUsers/index.tsx
  src/hooks/useCounter.ts
  src/pages/api/counter.ts
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

docs: add create users table sql
  README.md
Due: prettier --ignore-path .gitignore --write

chore: fixing types error
  next-env.d.ts
  public/sitemap.xml
  src/components/AuthForm.tsx
  src/pages/api/urls/delete/[id].ts
  src/pages/api/urls/get/[user_id].ts
  src/pages/api/urls/patch/[id].ts
  src/pages/api/urls/save/[user_id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: make sure the url is valid
  src/components/Dashboard/UrlForm/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: on api
  .eslintrc.json
  src/components/Dashboard/UrlForm/index.tsx
  src/pages/api/auth/login.ts
  src/pages/api/urls/save/[user_id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: grid vs list view
  src/components/Dashboard/UrlForm/index.tsx
  src/components/Dashboard/UrlList/Item.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/SearchInput.tsx
  src/components/Footer.tsx
  src/hooks/useUrls.ts
  src/hooks/useUser.ts
  src/libs/fetcher.ts
  src/libs/supabase.ts
  src/pages/api/urls/save/[user_id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update supabase.ts
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Create shield.ts
  src/pages/api/shield.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update shield.ts
  src/pages/api/shield.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: redirect to 404
  src/pages/[slug].tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Add Registration Alert
  src/components/AuthForm.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

change from else if to else
  src/components/AuthForm.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add registration alert (#55)
  src/components/AuthForm.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add new counter
  README.md
  src/pages/api/counter.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: linters
  .eslintrc.js
  .eslintrc.json
  README.md
  next-env.d.ts
  package.json
  src/components/AuthForgetPassword/index.tsx
  src/components/AuthForm.tsx
  src/components/AuthSetNewPassword/index.tsx
  src/components/CounterUrls/index.tsx
  src/components/CounterUsers/index.tsx
  src/components/Dashboard/UrlList/Item.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/index.tsx
  src/components/Dashboard/index.tsx
  src/components/Error/ErrorDataNotFound.tsx
  src/components/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Header/HeaderAuth.tsx
  src/components/MessageDialog.tsx
  src/components/MetaHead/MetaHead.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/api/auth/register.ts
  src/pages/api/counter.ts
  src/pages/api/shield.ts
  src/pages/api/urls/delete/[id].ts
  src/pages/api/urls/get/[user_id].ts
  src/pages/api/urls/patch/[id].ts
  src/pages/api/urls/save/[user_id].ts
  tsconfig.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: change the way counting users
  README.md
  public/sitemap.xml
  src/components/MetaHead/MetaHead.tsx
  src/pages/_document.tsx
  src/pages/api/auth/login.ts
  src/pages/api/counter.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: ts error
  src/pages/api/auth/login.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: hardcoded for now
  README.md
  package.json
  src/pages/api/counter.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: update using view
  README.md
  src/pages/api/counter.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix
