Repository mazipan/ksana.in: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: refine useUser
  src/components/AuthForm.tsx
  src/components/Dashboard/index.tsx
  src/components/Footer.tsx
  src/components/HiUser.tsx
  src/components/Loader/LoadingSpinner.tsx
  src/components/SignIn/index.tsx
  src/components/SignUp/index.tsx
  src/context/Auth.tsx
  src/hooks/useUser.ts
  src/pages/api/auth/is-authenticated.ts
  src/pages/auth/set-new-password.tsx
  src/pages/auth/sign-in.tsx
  src/pages/auth/sign-up.tsx
  src/pages/callback.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: setup lint-staged, husky & prettier
  .commitlintrc.json
  .eslintrc.json
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

fix: apply prettier & linter all code
  .eslintrc.json
  README.md
  public/google254ec9b78a3c3c38.html
  src/components/Dashboard/UrlForm/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/LoadingSkeleton.tsx
  src/components/Error/ErrorDefault.tsx
  src/components/Error/ErrorNotLogin.tsx
  src/components/Features.tsx
  src/components/Footer.tsx
  src/components/Hero.tsx
  src/components/HiUser.tsx
  src/components/Layout/Layout.tsx
  src/components/Loader/LoadingSpinner.tsx
  src/components/MessageDialog.tsx
  src/components/MetaHead.tsx
  src/components/SignUp/index.tsx
  src/constants/colors.ts
  src/constants/paths.ts
  src/context/Alert.tsx
  src/context/Auth.tsx
  src/hooks/useUser.ts
  src/interfaces/IUrl.ts
  src/interfaces/IUser.ts
  src/libs/fetcher.ts
  src/libs/supabase.ts
  src/pages/[slug].tsx
  src/pages/_document.tsx
  src/pages/api/auth/is-authenticated.ts
  src/pages/api/auth/set-session.ts
  src/pages/auth/forget-password.tsx
  src/pages/auth/set-new-password.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: header auth
  src/components/AuthForm.tsx
  src/components/Dashboard/index.tsx
  src/components/Header/Header.tsx
  src/components/Header/HeaderAuth.tsx
  src/components/HiUser.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/LayoutAuth.tsx
  src/context/Alert.tsx
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: fix fontSize
  src/components/DarkModeSwitch.tsx
  src/components/Dashboard/UrlList/Items.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: forget pass and set new pass
  src/components/AuthForgetPassword/Form.tsx
  src/components/AuthForgetPassword/index.tsx
  src/components/AuthSetNewPassword/Form.tsx
  src/components/AuthSetNewPassword/index.tsx
  src/components/AuthSignIn/index.tsx
  src/components/AuthSignUp/index.tsx
  src/components/Route/PublicRoute.tsx
  src/components/SignIn/index.tsx
  src/pages/auth/forget-password.tsx
  src/pages/auth/set-new-password.tsx
  src/pages/auth/sign-in.tsx
  src/pages/auth/sign-up.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: mutate swr
  src/components/Dashboard/UrlForm/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/pages/api/urls/get/[user_id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: splibee event tracker
  src/components/AuthForgetPassword/Form.tsx
  src/components/AuthForm.tsx
  src/components/AuthSetNewPassword/Form.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/libs/splitbee.ts
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: splibee event tracker (#18)
  src/components/AuthForgetPassword/Form.tsx
  src/components/AuthForm.tsx
  src/components/AuthSetNewPassword/Form.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/libs/splitbee.ts
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: basic counter
  src/components/CounterUrls/Counter.tsx
  src/components/CounterUrls/index.tsx
  src/components/Features.tsx
  src/constants/paths.ts
  src/hooks/useCounter.ts
  src/pages/api/counter.ts
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: basic counter (#19)
  src/components/CounterUrls/Counter.tsx
  src/components/CounterUrls/index.tsx
  src/components/Features.tsx
  src/constants/paths.ts
  src/hooks/useCounter.ts
  src/pages/api/counter.ts
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: counter stylings
  src/components/CounterUrls/Counter.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add loader skeleton
  src/components/CounterUrls/LoadingSkeleton.tsx
  src/components/CounterUrls/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: reduce usage of capital title
  src/pages/kebijakan-privasi.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: change placeholder text
  src/components/Dashboard/UrlForm/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add helper text
  src/components/Dashboard/UrlForm/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: move next-offline to next-pwa
  .eslintignore
  .gitignore
  next.config.js
  package.json
  public/service-worker.js
  public/workbox-ea903bce.js
  src/pages/_app.tsx
  wb.config.js
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add more credits
  .gitignore
  README.md
  package.json
  public/service-worker.js
  public/workbox-ea903bce.js
  src/components/MetaHead.tsx
  src/pages/tentang.tsx
  wb.config.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: add await on setServerSideAuth
  src/components/AuthForm.tsx
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: ketentuan layanan
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: crud urls using internal apis
  src/components/Dashboard/UrlForm/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Footer.tsx
  src/constants/paths.ts
  src/libs/supabase.ts
  src/pages/api/urls/check/[slug].ts
  src/pages/api/urls/delete/[id].ts
  src/pages/api/urls/patch/[id].ts
  src/pages/api/urls/save/[user_id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add json+ld structured data
  src/components/MetaHead.tsx
  src/components/StructuredData/Website.tsx
  src/constants/paths.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add eslint react hooks
  .eslintrc.json
  src/components/AuthForm.tsx
  src/components/AuthSetNewPassword/Form.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/LoadingSkeleton.tsx
  src/components/Dashboard/UrlList/index.tsx
  src/components/Dashboard/Wrapper.tsx
  src/components/Dashboard/index.tsx
  src/components/Route/PrivateRoute.tsx
  src/hooks/useUrls.ts
  src/pages/api/urls/get/[user_id].ts
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: seperate meta title
  public/sitemap.xml
  src/components/Layout/Layout.tsx
  src/components/Layout/LayoutAuth.tsx
  src/components/MetaHead/MetaHead.tsx
  src/pages/auth/forget-password.tsx
  src/pages/auth/set-new-password.tsx
  src/pages/auth/sign-in.tsx
  src/pages/auth/sign-up.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add robots.txt
  public/robots.txt
  src/pages/[slug].tsx
  src/pages/callback.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: update sitemap
  public/sitemap.xml
Due: none

chore: update meta image
  public/meta/ksana.png
  public/meta/ksana.svg
Due: none

[ImgBot] Optimize images
  public/ill_data_by_manypixels.svg
  public/ill_protection_by_manypixels.svg
  public/ill_teamwork_by_manypixels.svg
  public/meta/ksana.png
  public/meta/ksana.svg
Due: none

chore: update robots.txt to block slug path
  public/robots.txt
Due: none

chore: allow _next/
  public/robots.txt
Due: none

chore: move images
  README.md
  public/images/illustrations/ill_by_manypixels.svg
  public/images/illustrations/ill_data_by_manypixels.svg
  public/images/illustrations/ill_error_by_manypixels.svg
  public/images/illustrations/ill_protection_by_manypixels.svg
  public/images/illustrations/ill_teamwork_by_manypixels.svg
  public/images/meta/ksana.png
  public/images/meta/ksana.svg
  public/images/orange/ksana.png
  public/images/orange/ksana.svg
  public/images/screen/dashboard.png
  public/images/screen/home.png
  public/images/square/ksana-192x192.png
  public/images/square/ksana-32x32.png
  public/images/square/ksana-512x512.png
  public/images/square/ksana.png
  public/images/square/ksana.svg
  public/images/white/ksana.png
  public/images/white/ksana.svg
  public/robots.txt
  src/components/Error/ErrorDataNotFound.tsx
  src/components/Error/ErrorDefault.tsx
  src/components/Error/ErrorNotLogin.tsx
  src/components/Hero.tsx
  src/components/HiUser.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: update manifest
  public/manifest.json
Due: prettier --ignore-path .gitignore --write

chore: update meta image
  .env.local.example
  public/images/maskable/maskable_icon.png
  public/images/square/ksana-64x64.png
  src/components/MetaHead/MetaHead.tsx
  src/constants/paths.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

[ImgBot] Optimize images
  public/images/maskable/maskable_icon.png
Due: none

chore: update maskable icons
  public/images/maskable/ksana-192x192.png
  public/images/maskable/ksana-512x152.png
  public/images/maskable/maskable_icon.png
  public/manifest.json
Due: prettier --ignore-path .gitignore --write

feat: move forgetpassword & setnewpassword into api
  src/components/AuthForgetPassword/Form.tsx
  src/components/AuthForm.tsx
  src/components/AuthSetNewPassword/Form.tsx
  src/constants/paths.ts
  src/libs/supabase.ts
  src/pages/api/auth/forget-password.ts
  src/pages/api/auth/register.ts
  src/pages/api/auth/set-new-password.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: test google login on production
  .env.local.example
  src/components/Error/ErrorDataNotFound.tsx
  src/components/Error/ErrorDefault.tsx
  src/components/Error/ErrorNotLogin.tsx
  src/constants/common.ts
  src/constants/paths.ts
  src/libs/helpers.ts
  src/libs/supabase.ts
  src/pages/auth/sign-in-test.tsx
  src/pages/callback.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: typing error
  public/robots.txt
  src/components/Dashboard/UrlList/Items.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Path conditions:
  prettier --ignore-path .gitignore --write: (any of: *.{css,scss,json,md,html}) or (any of: *.{js,ts,tsx})
  eslint --ignore-path .gitignore --quiet --fix: any of: *.{js,ts,tsx}
