Repository mazipan/ksana.in: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update 2021-06-30-manfaat-menggunakan-pemendek-tautan.md
  _posts/2021-06-30-manfaat-menggunakan-pemendek-tautan.md
Due: prettier --ignore-path .gitignore --write

Update README.md
  README.md
Due: prettier --ignore-path .gitignore --write

feat: add Chakra ColorManager
  next.config.js
  package.json
  public/sitemap.xml
  src/Chakra.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/auth/forget-password.tsx
  src/pages/auth/set-new-password.tsx
  src/pages/auth/sign-in.tsx
  src/pages/auth/sign-up.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
  src/theme.ts
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update Footer.tsx
  src/components/Footer.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add links to other product
  src/components/Footer.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update 2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia.md
  _posts/2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia.md
Due: prettier --ignore-path .gitignore --write

Create 2021-08-06-pemendek-tautan-terbaik-per-2021
  _posts/2021-08-06-pemendek-tautan-terbaik-per-2021
Due: none

chore: tw and gh auth test
  src/components/AuthForm.tsx
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: remove Beta wording on the button login
  src/components/AuthForm.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

fix: upgrade @supabase/supabase-js from 1.18.1 to 1.21.0
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

fix: upgrade next-pwa from 5.2.23 to 5.2.24
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

fix: upgrade next-pwa from 5.2.23 to 5.2.24 (#43)
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

fix: remove unused env bvar
  .env.local.example
Due: none

fix: can not login
  .env.local.example
  src/components/AuthForm.tsx
  src/constants/common.ts
  src/libs/supabase.ts
  vercel.json
  wb.config.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: try to update deps
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

feat: add total stats
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/TotalStats.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add new search feature
  src/components/AuthForm.tsx
  src/components/Dashboard/UrlForm/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/SearchInput.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --ignore-path .gitignore --write

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --ignore-path .gitignore --write

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --ignore-path .gitignore --write

Create .kodiak.toml
  .kodiak.toml
Due: none

Update .kodiak.toml
  .kodiak.toml
Due: none

Path conditions:
  prettier --ignore-path .gitignore --write: (any of: *.{css,scss,json,md,html}) or (any of: *.{js,ts,tsx})
  eslint --ignore-path .gitignore --quiet --fix: any of: *.{js,ts,tsx}
