Repository mazipan/ksana.in: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": ["prettier --ignore-path .gitignore --write"],
  "*.{js,ts,tsx}": [
    "prettier --ignore-path .gitignore --write",
    "eslint --ignore-path .gitignore --quiet --fix"
  ]
}

feat: add lazy mount popover content
  src/components/Dashboard/UrlList/SharePopover.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

docs: add minimum table creation
  README.md
Due: prettier --ignore-path .gitignore --write

chore: update env example
  .env.local.example
Due: none

fix: remove set height 100%
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add logo json-ld schema
  src/components/MetaHead/MetaHead.tsx
  src/components/StructuredData/Logo.tsx
  src/components/StructuredData/Website.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add share component fallback (#33)
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/SharePopover.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: upgrade deps
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

chore: add basic markdown format for blog
  _posts/2021-06-20-memperkenalkan-ksana-in.md
Due: prettier --ignore-path .gitignore --write

feat: basic blog
  _posts/2021-06-20-memperkenalkan-ksana-in.md
  package.json
  src/components/BlogCardPost/index.tsx
  src/interfaces/IPost.ts
  src/libs/blog.ts
  src/libs/markdownParser.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: basic blog
  next-sitemap.js
  package.json
  public/robots.txt
  public/sitemap.xml
  src/libs/blog.ts
  src/libs/markdownParser.ts
  src/pages/blog/[slug].tsx
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add footer to blog
  package.json
  src/components/Footer.tsx
  src/constants/paths.ts
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add basic post
  _posts/2021-06-20-memperkenalkan-ksana-in.md
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: Static blog (#36)
  _posts/2021-06-20-memperkenalkan-ksana-in.md
  next-sitemap.js
  package.json
  public/robots.txt
  public/sitemap.xml
  src/components/BlogCardPost/index.tsx
  src/components/Footer.tsx
  src/constants/paths.ts
  src/interfaces/IPost.ts
  src/libs/blog.ts
  src/libs/markdownParser.ts
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/tentang.tsx
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Rename [slug].tsx to _slug.tsx
  src/pages/blog/_slug.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Rename _slug.tsx to [slug].tsx
  src/pages/blog/[slug].tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: build error
  public/sitemap.xml
  src/libs/markdownParser.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

docs: add env setup
  README.md
Due: prettier --ignore-path .gitignore --write

chore: remove poppins
  package.json
  src/components/DarkModeSwitch.tsx
  src/components/MetaHead/MetaHead.tsx
  src/pages/_app.tsx
  src/theme.ts
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: change to empty string
  src/libs/markdownParser.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: unblock /blog
  public/robots.txt
Due: none

feat: blog
  _posts/2021-06-20-memperkenalkan-ksana-in.md
  package.json
  public/images/blog/2021-06-20/shorten-url.png
  public/images/blog/2021-06-20/update-url.png
  src/components/BlogCardPost/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/Wrapper.tsx
  src/components/StructuredData/Breadcrumb.ts
  src/libs/markdownParser.ts
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/blog/index.tsx
  src/pages/styles.css
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update 2021-06-20-memperkenalkan-ksana-in.md
  _posts/2021-06-20-memperkenalkan-ksana-in.md
Due: prettier --ignore-path .gitignore --write

[ImgBot] Optimize images
  public/images/blog/2021-06-20/shorten-url.png
  public/images/blog/2021-06-20/update-url.png
Due: none

feat: add yandex verification
  src/components/MetaHead/MetaHead.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Create 2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia
  _posts/2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia
Due: none

Update 2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia
  _posts/2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia
Due: none

Update styles.css
  src/pages/styles.css
Due: prettier --ignore-path .gitignore --write

Rename 2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia to 2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia.md
  _posts/2021-06-29-alternatif-s-id-pemendek-tautan-buatan-indonesia.md
Due: prettier --ignore-path .gitignore --write

Create 2021-06-30-manfaat-menggunakan-pemendek-tautan.md
  _posts/2021-06-30-manfaat-menggunakan-pemendek-tautan.md
Due: prettier --ignore-path .gitignore --write

feat: add loader here and there
  _posts/2021-06-30-manfaat-menggunakan-pemendek-tautan.md
  package.json
  public/sitemap.xml
  src/components/BlogCardPost/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/SharePopover.tsx
  src/components/Header/Header.tsx
  src/pages/blog/[slug].tsx
  src/pages/styles.css
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: screenshoot
  README.md
  screenshots/desktop.png
  screenshots/mobile-dashboard.png
  screenshots/mobile-home.png
  screenshots/mobile-login.png
  screenshots/mobile.png
  src/components/AuthForgetPassword/Form.tsx
  src/components/AuthForm.tsx
  src/components/AuthSetNewPassword/Form.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update markdownParser.ts
  src/libs/markdownParser.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: split urls components
  src/components/Dashboard/UrlList/Item.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/SharePopover.tsx
  src/components/Dashboard/UrlList/index.tsx
  src/libs/oge.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add lang
  src/pages/_document.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: remove no scalable
  src/components/MetaHead/MetaHead.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update Header.tsx
  src/components/Header/Header.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update HeaderAuth.tsx
  src/components/Header/HeaderAuth.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update MetaHead.tsx
  src/components/MetaHead/MetaHead.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update wb.config.js
  wb.config.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix
