Repository mazipan/ksana.in: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss,json,md,html}": ["prettier --ignore-path .gitignore --write"],
  "*.{js,ts,tsx}": [
    "prettier --ignore-path .gitignore --write",
    "eslint --ignore-path .gitignore --quiet --fix"
  ]
}

fix: setSession to server
  src/libs/helpers.ts
  src/libs/supabase.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: finalize google login
  src/components/AuthForm.tsx
  src/pages/auth/sign-in-test.tsx
  src/pages/index.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: remove attach email,
  src/components/Dashboard/UrlList/Items.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update MetaHead.tsx
  src/components/MetaHead/MetaHead.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update tentang.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update ketentuan-layanan.tsx
  src/pages/ketentuan-layanan.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update kebijakan-privasi.tsx
  src/pages/kebijakan-privasi.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update forget-password.tsx
  src/pages/auth/forget-password.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update sign-in.tsx
  src/pages/auth/sign-in.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update sign-up.tsx
  src/pages/auth/sign-up.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update sitemap.xml
  public/sitemap.xml
Due: none

docs: update readme 📗
  README.md
Due: prettier --ignore-path .gitignore --write

fix: setup addmore typings
  global.d.ts
  src/@types/external.d.ts
  src/@types/global.d.ts
  src/@types/next-env.d.ts
  tsconfig.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: setup addmore typings (#27)
  global.d.ts
  src/@types/external.d.ts
  src/@types/global.d.ts
  src/@types/next-env.d.ts
  tsconfig.json
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: some props layout height styling
  src/pages/[slug].tsx
  src/pages/callback.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

Update README.md
  README.md
Due: prettier --ignore-path .gitignore --write

feat: add desc
  src/components/Hero.tsx
  src/pages/auth/forget-password.tsx
  src/pages/auth/sign-in.tsx
  src/pages/auth/sign-up.tsx
  src/pages/kebijakan-privasi.tsx
  src/pages/ketentuan-layanan.tsx
  src/pages/tentang.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: update sitemap
  public/sitemap.xml
Due: none

chore: update deps
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

chore: remove unused deps
  package.json
  src/@types/external.d.ts
  yarn.lock
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: typo on hero
  src/components/Hero.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

[ImgBot] Optimize images
  public/images/favicon/android-icon-144x144.png
  public/images/favicon/android-icon-192x192.png
  public/images/favicon/android-icon-48x48.png
  public/images/favicon/android-icon-72x72.png
  public/images/favicon/android-icon-96x96.png
  public/images/favicon/apple-icon-114x114.png
  public/images/favicon/apple-icon-120x120.png
  public/images/favicon/apple-icon-144x144.png
  public/images/favicon/apple-icon-152x152.png
  public/images/favicon/apple-icon-180x180.png
  public/images/favicon/apple-icon-60x60.png
  public/images/favicon/apple-icon-72x72.png
  public/images/favicon/apple-icon-precomposed.png
  public/images/favicon/apple-icon.png
  public/images/favicon/favicon-96x96.png
  public/images/favicon/ms-icon-144x144.png
  public/images/favicon/ms-icon-150x150.png
  public/images/favicon/ms-icon-310x310.png
  public/images/maskable/ksana-192x192.png
  public/images/maskable/ksana-512x152.png
Due: none

fix: font family
  src/theme.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add github pr template
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: prettier --ignore-path .gitignore --write

fix: direct api hit unauthorized
  src/components/Dashboard/UrlList/Items.tsx
  src/libs/supabase.ts
  src/pages/api/auth/is-authenticated.ts
  src/pages/api/urls/delete/[id].ts
  src/pages/api/urls/patch/[id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: login/register checking
  src/components/AuthForm.tsx
  src/constants/paths.ts
  src/libs/splitbee.ts
  src/libs/supabase.ts
  src/pages/api/auth/login.ts
  src/pages/api/auth/register.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add install button
  public/service-worker.js.map
  src/components/Header/Header.tsx
  src/pages/_app.tsx
  wb.config.js
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add more checking on save and update data
  src/components/Dashboard/UrlForm/index.tsx
  src/components/Dashboard/UrlList/Items.tsx
  src/pages/api/_utils.ts
  src/pages/api/urls/delete/[id].ts
  src/pages/api/urls/get/[user_id].ts
  src/pages/api/urls/patch/[id].ts
  src/pages/api/urls/save/[user_id].ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add meta small
  .gitignore
  public/images/meta/meta-small.jpg
  public/robots.txt
  public/service-worker.js.map
  src/components/MetaHead/MetaHead.tsx
  src/components/StructuredData/Website.tsx
  src/constants/paths.ts
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

chore: add splitbee tracker
  src/components/Header/Header.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

feat: add share component fallback
  src/components/Dashboard/UrlList/Items.tsx
  src/components/Dashboard/UrlList/SharePopover.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: correct share button aria-label
  src/components/Dashboard/UrlList/SharePopover.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix

fix: checking navigator.share on client
  src/components/Dashboard/UrlList/Items.tsx
Due: prettier --ignore-path .gitignore --write, eslint --ignore-path .gitignore --quiet --fix
